* {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(212, 45%, 89%);
  font-family: 'Outfit';
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-width: 320px;
  max-width: 340px;
}

.outer-card {
  background: hsl(0, 0%, 100%);
  border-radius: 26px;
  margin: auto 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.inner-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px;
  padding-block: 16px 36px;
  text-align: center;
}

img {
  border-radius: 10px;
  height: auto;
  width: 100%;
}

.tagline {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

p {
  font-weight: 400;
  font-size: 15px;
  color: hsl(216, 15%, 48%);
}