*, html {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(212, 45%, 89%);
  display: flex;
  font-family: 'Outfit';
  height: 100dvh;
}

.tagline {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

p {
  font-weight: 400;
  font-size: 15px;
  color: hsl(216, 15%, 48%);
}

.card {
  align-items: center;
  background: hsl(0, 0%, 100%);
  border-radius: 24px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto 32px;
  padding: 16px;
  text-align: center;
}

img {
  border-radius: 16px;
  height: auto;
  max-width: 100%;
}